{% extends 'base.html.twig' %}

{% block title %}Population{% endblock %}

{% block body %}
    <h1>Population</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ population.id }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ population.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ population.firstName }}</td>
            </tr>
             <tr>
                <th>Observations</th>
                <td>{{ population.observations }}</td>
            </tr>
            <tr>
                <th>IsVaccinatedFirstDose</th>
                <td>{{ population.isVaccinatedFirstDose ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsVaccinatedSecondDose</th>
                <td>{{ population.isVaccinatedSecondDose ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('population_index') }}">back to list</a>
     {% if is_granted('EDIT',population) %}
    <a href="{{ path('population_edit', {'id': population.id}) }}">edit</a>
    {% endif %}
     {% if is_granted('DELETE',population) %}
    {{ include('population/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
